[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
requests-mock = "*"
twine = "*"
pytest-mock = "*"

[packages]
trustar = {editable = true, path = "."}
dateparser = "*"
pathlib = "*"

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
